<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/actions")
</head>
<body>
    <div id="query2Modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Input user name</h4>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="query2Name">
                </div>
                <div class="modal-footer">
                    <button id="Query2Link" type="button" class="btn btn-default" data-url="@Url.Action("GetSimpleQuery2", "Home")" onclick="getSimpleQuery2Ajax()" data-dismiss="modal">Sumbit</button>
                </div>
            </div>

        </div>
    </div>
    <div id="query3Modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Input project name</h4>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="query3Name">
                </div>
                <div class="modal-footer">
                    <button id="Query3Link" type="button" class="btn btn-default" data-url="@Url.Action("GetSimpleQuery3", "Home")" onclick="getSimpleQuery3Ajax()" data-dismiss="modal">Sumbit</button>
                </div>
            </div>

        </div>
    </div>
    <div id="query4Modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Input user name</h4>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="query4Name">
                </div>
                <div class="modal-footer">
                    <button id="Query4Link" type="button" class="btn btn-default" data-url="@Url.Action("GetSimpleQuery4", "Home")" onclick="getSimpleQuery4Ajax()" data-dismiss="modal">Sumbit</button>
                </div>
            </div>

        </div>
    </div>
    <div id="query5Modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Input milestone name</h4>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="query5Name">
                </div>
                <div class="modal-footer">
                    <button id="Query5Link" type="button" class="btn btn-default" data-url="@Url.Action("GetSimpleQuery5", "Home")" onclick="getSimpleQuery5Ajax()" data-dismiss="modal">Sumbit</button>
                </div>
            </div>

        </div>
    </div>
    <div id="nested2Modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Input ptoject name</h4>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="nested2Name">
                </div>
                <div class="modal-footer">
                    <button id="Nested2Link" type="button" class="btn btn-default" data-url="@Url.Action("GetNested2", "Home")" onclick="getNested2Ajax()" data-dismiss="modal">Sumbit</button>
                </div>
            </div>

        </div>
    </div>
    <div id="functionModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Input ptoject name</h4>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="functionName">
                </div>
                <div class="modal-footer">
                    <button id="FunctionLink" type="button" class="btn btn-default" data-url="@Url.Action("GetFunction", "Home")" onclick="getFunctionAjax()" data-dismiss="modal">Sumbit</button>
                </div>
            </div>

        </div>
    </div>
    <div id="procedureModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Input ptoject name</h4>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="procedureName">
                </div>
                <div class="modal-footer">
                    <button id="ProcedureLink" type="button" class="btn btn-default" data-url="@Url.Action("GetProcedure", "Home")" onclick="getProcedureAjax()" data-dismiss="modal">Sumbit</button>
                </div>
            </div>

        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
       
        @*<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>*@
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="nav navbar-nav mr-auto">
               
               
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Show data
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li class="dropdown-item"><a id="getProjLink" data-url="@Url.Action("GetProjects", "Home")" onclick="getProjAjax()">Project</a></li>
                        <li class="dropdown-item"><a id="getUserLink" data-url="@Url.Action("GetUsers", "Home")" onclick="getUserAjax()">User</a></li>
                        <li class="dropdown-item"><a id="getTaskLink" data-url="@Url.Action("GetTasks", "Home")" onclick="getTaskAjax()">Task</a></li>
                        <li class="dropdown-item"> <a id="getMilestoneLink" data-url="@Url.Action("GetMilestones", "Home")" onclick="getMilestoneAjax()">Milestone</a></li>
                        <li class="dropdown-item"> <a id="getMilestoneTaskLink" data-url="@Url.Action("GetMilestoneTasks", "Home")"onclick="getMilestoneTaskAjax()">MilestoneTask</a></li>
                        <li class="dropdown-item"> <a id="getRoleLink" data-url="@Url.Action("GetRoles", "Home")" onclick="getRoleAjax()">Role</a></li>
                        <li class="dropdown-item"><a id="getUserRoleLink" data-url="@Url.Action("GetUserRoles", "Home")" onclick="getUserRoleAjax()">UserRole</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Simple query
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li class="dropdown-item"><a id="Query1Link"  data-url="@Url.Action("GetSimpleQuery1", "Home")" onclick="getQuery1Ajax()">Show all Admins</a></li>
                        <li class="dropdown-item"><a data-toggle="modal" data-target="#query2Modal">Get user's tasks</a></li>
                        <li class="dropdown-item"><a data-toggle="modal" data-target="#query3Modal">Get project's tasks</a></li>
                        <li class="dropdown-item"><a data-toggle="modal" data-target="#query4Modal">Get tasks in milestones of user</a></li>
                        <li class="dropdown-item"><a data-toggle="modal" data-target="#query5Modal">Get Tasks from Milestone</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Agregate query
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li class="dropdown-item"><a id="Agregate1Link"  data-url="@Url.Action("GetAgregate1", "Home")" onclick="getAgregate1Ajax()">Count tasks for each User</a></li>
                        <li class="dropdown-item"><a  id="Agregate2Link"  data-url="@Url.Action("GetNested1", "Home")" onclick="getNested1Ajax()">Average number of tasks</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Nested query
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li class="dropdown-item"><a  id="Nested1Link"  data-url="@Url.Action("GetNested1", "Home")" onclick="getNested1Ajax()">Average number of tasks</a></li>
                        <li class="dropdown-item"><a  data-toggle="modal" data-target="#nested2Modal">Users in project</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#functionModal">Function</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#procedureModal">Procedure</a>
                </li>

            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
